@import 'lib/modern-normalize.css';

@font-face {
  font-family: 'SourceSansProLight';
  src: url('fonts/SourceSansProLight.eot');
  src:
    url('fonts/SourceSansProLight.eot') format('embedded-opentype'),
    url('fonts/SourceSansProLight.woff2') format('woff2'),
    url('fonts/SourceSansProLight.woff') format('woff'),
    url('fonts/SourceSansProLight.ttf') format('truetype'),
    url('fonts/SourceSansProLight.svg#SourceSansProLight') format('svg');
}

@font-face {
  font-family: 'JosefinSlabBold';
  src: url('fonts/JosefinSlabBold.eot');
  src:
    url('fonts/JosefinSlabBold.eot') format('embedded-opentype'),
    url('fonts/JosefinSlabBold.woff2') format('woff2'),
    url('fonts/JosefinSlabBold.woff') format('woff'),
    url('fonts/JosefinSlabBold.ttf') format('truetype'),
    url('fonts/JosefinSlabBold.svg#JosefinSlabBold') format('svg');
}

@font-face {
  font-family: 'cantarellregular';
  src: url('fonts/cantarellregular.eot');
  src:
    url('fonts/cantarellregular.eot') format('embedded-opentype'),
    url('fonts/cantarellregular.woff2') format('woff2'),
    url('fonts/cantarellregular.woff') format('woff'),
    url('fonts/cantarellregular.ttf') format('truetype'),
    url('fonts/cantarellregular.svg#cantarellregular') format('svg');
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';
}

.sidebar {
  grid-area: sidebar;
  font-family: 'JosefinSlabBold', sans-serif;
  background-color: #cd8d7a;
}

.navbar {
  color: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  gap: 1rem;
}

.sidebar-list1,
.sidebar-list2 {
  list-style: none;
  margin-bottom: 1rem;
}

.sidebar-list1 li,
.sidebar-list2 li {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

.sidebar-list1 > li a,
.sidebar-list2 > li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-list1 li:hover,
.sidebar-list2 li:hover {
  background-color: #eaeccc;
  color: #cd8d7a;
  border-radius: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header {
  font-family: 'JosefinSlabBold', sans-serif;
  display: flex;
  flex-direction: column;
  grid-area: header;
  gap: 1rem;
  padding: 1rem 1.5rem;
  background-color: #dbcc95;
}
.top-div,
.bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.top-row-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
  max-width: 60%;
}
.top-row-left input[type='search'] {
  width: 100%;
  height: 2rem;
  padding: 0 0.75rem;
  font: inherit;
  font-size: 0.9rem;
  border: none;
  border-radius: 14px;
  background-color: #eaeccc;
}
.top-row-right {
  display: flex;
  align-items: center;
  gap: 0.85rem;
  font-size: 0.85rem;
  font-weight: 800;
}

.bottom-row-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottom-row-right {
  display: flex;
  gap: 1rem;
}

.bottom-row-right .btn {
  padding: 0.35rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  background-color: #cd8d7a;
  border-radius: 20px;
  border: none;
}

.main-content {
  grid-area: main-content;
  font-family: 'cantarellregular', sans-serif;
  background-color: #c3e2c2;
}
